<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Timestamp!</title>
    <meta name="description" content="A Unix timestamp service">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Unix Timestamp
      </h1>
    </header>

    <main>
      <h3>Example Usage:</h3>
      <p>https://near-tsunami.glitch.me/January 21, 2010</p>
      <p>https://near-tsunami.glitch.me/1264032000</p>
      <h3>Result:</h3>
      <p>{"unix":1264032000,"natural":"Thursday, January 21st 2010"}</p>
    </main>

    <footer>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
